<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather for {{capital}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="weatherData.main">
    <img *ngIf="weatherIconUrl" [src]="weatherIconUrl" alt="Weather Icon" />
    <ion-card-header>
      <ion-card-title>{{ weatherData.weather[0].description }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{weatherData.main.temp}} {{unit}}</ion-card-content>
  </ion-card>
</ion-content>
