<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> G00425733 </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']" slot="icon-only">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="newCountry" placeholder="Enter Country"></ion-input>
  </ion-item>
  <hr />
  <ion-button (click)="setCountry()" expand="block">Search</ion-button>
</ion-content>
